.col-forms-ordenes {
    float: left;
    width: 25%;
    margin-bottom: 20px;
    text-align: center;
}

.div-formODC {
    float: left;
    width: 30%;
}

.div-detalleODC {
    float: left;
    width: 65%;
}

.div-detalleProductos {
    margin-top: 50px;
}

.facturas {
    width: 20%;
}
div.filtros {
    margin-bottom: 40px;
}
div.filtros, div.filtros .columna1{
    float: left;
    width: 50%;
}
div#table_content{
    float:left;
    width:100%
}