.esconder {
	display: none;
}
.forceinline {
	display: inline-block !important;
}
.proyectos{
	width: 100%;
	display: inline-table;
	margin-top: 50px;
}
li.proyectoslist {
	list-style-type: disc;
}
.columnas:nth-of-type(2) {
	position: absolute;
	left: 700px;
}
.columnas:nth-of-type(3) {
	position: absolute;
	left: 820px;
}
.filas {
	display: inline-flex;
	height: 30px;
}
.status1{
	color:#FF0000;
}
.etiqueta{
	font-weight: bolder;
	color: #000000;
}
.btn-baja{
	border-radius: 15px;
}
table.tablesorter thead tr .header {
background-image: url('../../../libraries/integradora/js/themes/blue/bg.gif');
background-repeat: no-repeat;
background-position: center right;
cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
background-image: url('../../../libraries/integradora/js/themes/blue/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
background-image: url('../../../libraries/integradora/js/themes/blue/desc.gif');
}
.agregarProducto {
	text-align: center;
	margin: 20px;
}
.alto{
	height: 34px !important;
}
